@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Merriweather', serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(14, 14, 87);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(31, 31, 94, 0.568), rgba(90, 62, 62, 0.363)),
    url('../images/pexels.jpg');
    background-size: cover;
    
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
   padding: 0.3rem;
    color: aliceblue;
    background-color: rgb(62, 62, 95);
}

.container h3 {
    margin: 1rem;
    color: aliceblue;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
}